body{
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-size: 40px;
	text-align: center;
}

p{
    font-size: 15px;
}

#main{
    margin: auto;
    padding: 10px;
    border-style: solid;
    height: 500px;
    width: 400px;
    color: white;
}

.header{
    background-color: rgb(96, 96, 96);
}

.nav{
    background-color: rgb(128, 128, 128);
}

.section1{
    display: flex;
}

.section{
    background-color: rgb(128, 128, 200);
    flex: 1;
}

.article{
    background-color: rgb(200, 128, 128);
    flex: 1;
}

.aside{
    background-color: rgb(128, 200, 128);
    flex: 1;
}

.footer{
    background-color: rgb(96, 96, 96);
} 

#aboutStyle{
	font-size: 13px;
	position: fixed;
       text-align: center;
       bottom: 5px;
       width: 100%;
}