h2{
    text-align: center;
}

footer{
	font-size: 13px;
	position:fixed;
    text-align: center;
    bottom: 5px;
    width: 100%;
}

.center {
    margin: 0;
    position: fixed;
    top: 70%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}