body{
    background-color: rgb(120, 120, 120); 
}
footer{
	font-size: 13px;
	position:fixed;
    text-align: center;
    bottom: 5px;
    width: 100%;
}
.mainframe{
    margin-left: 20%;
    margin-right: 20%;
}

/* 
----------------------------------------
        HEADER
----------------------------------------
*/
.headpanel{
    height: 55px;
    margin-top: 10px;
    /* border-style: solid;
    border-width: 1px; */
    background-color: rgb(255, 255, 255);
}

.logoimg{
    width: 200px;
    height: 50px;
    float: left;
}
.logoimg:hover{
    width: 220px;
    height: 55px;
}

.searchStyle{
    margin-top: 13px;
    width: 100%;
}

ul > li {
    display: inline-block;
    /* You can also add some margins here to make it look prettier */
    zoom:1;
    *display:inline;
    /* this fix is needed for IE7- */
}

.sidebuttons{
    margin-top: 10px;
    float: right;
}

.btnctrl{
    background-color: white;
    color: black;
    text-align: center;
    font-size: 14px;
}
.btnside{
    width: 60px;
}

.btnctrl:hover{
    background-color: lime;
}

/* 
----------------------------------------
        NAV
----------------------------------------
*/

.navpanel{
    padding-top: 10px;
    /* border-style: solid;
    border-width: 1px; */
    background-color: rgb(255, 255, 255);
}
.navbtngroup{
    margin-left: 32%;
}
.btnnav{
    width: 80px;
}

/* 
----------------------------------------
        CONTENT 
----------------------------------------
*/

.content{
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 10px;
    /* border-style: solid;
    border-width: 1px; */
    height: 560px;
    background-color: rgb(255, 255, 255);
}

/* 
----------------------------------------
        Login style 
----------------------------------------
*/

.loginbox{
    margin: auto;
    border-style: solid;
    border-width: 1px;
    width: 400px;
    height: 200px;
    text-align: center;
}

h1{
    text-align: center;
}

.logininput{
    width: 200px;
}

.loginbtn{
    float: left;
}

.loginform{
    margin: 0 auto; 
    width:250px;
    width: 200px;
}

.reginbox{
    margin: auto;
    border-style: solid;
    border-width: 1px;
    width: 400px;
    height: 300px;
    text-align: center;
}